<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GDW_Faqs" setup_version="4.4.1" schema_version="4.4.0">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="GDW_Core"/>
        </sequence>
    </module>
</config>