.question-wrapper.style_simple .question-title {
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 8px;
}

.question-wrapper.style_simple .question-answer {
    padding-left: 20px;
    font-size: 16px;
    line-height: 120%;
}

.question-wrapper.style_simple .question-body {
    padding:5px 0px;
}
